/* Configurações gerais dos elementos */
html, body{
	margin:0;
	border:0;
	padding:0;
}

body{
	width: 100%;
	height: 100%;
}

div#grupo-botao{
	margin-top:10px;
	border:none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
	border-radius:20px;
	width: 100%;
	height:auto;
	z-index:999;
}

div#mapa{
	box-sizing: border-box;
	width:100%;
	height: 100%;
	position: absolute;
	/*border:1px solid black;*/
	
	
}

div.barra-float{
	position: absolute;
}



.btn-lg{
	height: 100%;
}

/* Classes auxiliares */
.float-right{
	float: right;
}

.float-left{
	float: left;
}

.input-group-btn button{
	padding-left:6px;
	padding-right:6px;
	max-height: 46px;
}

#modalInit{
	background-image: url('https://blogmaisbrasil.alliahotels.com.br/wp-content/uploads/2016/12/Vit%C3%B3ria-1.jpg');
	-webkit-background-size: cover;  
	-o-background-size: cover;  
	-moz-background-size: cover;  
	background-size: cover;
}

.fade{
	transition: none;
	animation: none;
	-webkit-transition: none;
	-webkit-animation:none;
}
.fade.in{
	background: transparent;
	
}

.modal-body p{
	text-align: left;
}

p#txtRua{
	font-size: 20px;
}


.modal-body img{
	width:220px; 
	height:150px;
}